flows.json
[{"id":"b719f18c.83eb6","label":"new package","type":"tab"},{"id":"7dd759.9d3eb8a8","type":"inject","z":"b719f18c.83eb6","name":"inject","topic":"","payload":"","payloadType":"date","repeat":1,"crontab":"","once":false,"x":85,"y":180,"wires":[["3669d771.442dd8"]]},{"id":"797dae5d.c79ef","type":"bulbsout","z":"b719f18c.83eb6","name":"","subtype":"set-bulb-on","value":"","x":368,"y":182,"wires":[]},{"id":"3669d771.442dd8","type":"dbfunction","z":"b719f18c.83eb6","name":"","func":"var onoff = context.get(\"onoff\") || \"on\";\ncontext.set(\"onoff\", onoff === \"on\" ? \"off\" : \"on\");\n\nreturn {\n    payload : onoff\n}","outputs":1,"noerr":0,"x":236,"y":172,"wires":[["797dae5d.c79ef"]]}]